

/* Transparent Overlay */
/* .loginPanel:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  } */

  .landingPage{
    /* text-align: center; */
    background-color:#fff;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    overflow: auto;
  
  }


.authPanel {

    position: relative;
    height: auto;
    /* left: 15%;
    top: 25%; */
    top:100px;
    text-align: center;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
    padding-bottom: 15px;

}

.imgContainer {
    position: relative;
    top:5%;
    width: 100%;
    height: 80px;
}

.imgContainer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 80px;

 }

.one_half {
    /* width: 40%; */
    /* display: block; */
    /* float: right; */
    /* min-width: 1vw;
    min-height: 5vw; */
    color:white;
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.5vw;
    
}

.one_half.last {
    background-color: #DD4B39;
}
/* Popup Styles*/

.discription {

    width: 90%;
    left: 5%;
    position: relative;
 
    font-weight: 550;
    font-size: 20px;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #111;
    top: 80px;


}

.authHeader {


    position: relative;
    padding: 10px 20px;
    font-weight: 550;
    line-height: 1.2;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    color: #111;
    

}

.authBody {

    display: inline-block;
    padding: 20px;
    width:25%;
    /* left: 35%; */
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background: #FFF;
    -webkit-box-shadow: 3px 3px #ccc;   
    -moz-box-shadow: 3px 3px #ccc;   
    box-shadow: 3px 3px #ccc;   
}


.action_btns {

    position: relative;
    /* top: 200px; */
    /* width: 35%; */

}



.user_login {
    display: inline;

}

.authBody label {
    font-size: 2vw;
    margin-bottom: 0.5vw;
}

.authBody input[type="text"],
.authBody input[type="email"],
.authBody input[type="password"] {
		width: 90%;
		padding: 1vw;
		border: 0.25vw solid #DDD;
        color: #666;
        margin-bottom: 2vw;
        background-color: white
}
.authBody select{

    width: 90%;
    padding: 1vw;
    border: 0.25vw solid #DDD;
    color: #666;
    margin-bottom: 2vw;
    background-color: white
}

.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}
/* User Register Form */

.user_register {
    display: inline;
}


.footer {

    width: 90%;
    position: relative;
    top:150px;
    height: 200px;
    left:5%;


}
.contact{
    display: inline-block;
    position: relative;
    font-weight: 550;
    line-height: 1.2;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #111;
    width: 50%;

}
.unswLogo{

    position: relative;
    height: 80px;
    float: right;


}